/* line 5, ../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 27, ../../csymanagement/scss/pdf-document.scss */
.cf {
  *zoom: 1;
}
/* line 30, ../../csymanagement/scss/pdf-document.scss */
.cf:before, .cf:after {
  content: ' ';
  display: table;
}
/* line 36, ../../csymanagement/scss/pdf-document.scss */
.cf:after {
  clear: both;
}

/* line 41, ../../csymanagement/scss/pdf-document.scss */
.page-break {
  page-break-after: always;
  display: block;
}

/* line 46, ../../csymanagement/scss/pdf-document.scss */
strong {
  font-weight: bold;
}

/* line 50, ../../csymanagement/scss/pdf-document.scss */
small {
  font-size: 8pt;
}

/* line 54, ../../csymanagement/scss/pdf-document.scss */
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 10pt;
  line-height: 1.5em;
  color: #465762;
}
/* line 63, ../../csymanagement/scss/pdf-document.scss */
body#pdf-page {
  width: 172mm;
  height: 217mm;
  padding-left: 24mm;
  padding-right: 14mm;
}

/* line 71, ../../csymanagement/scss/pdf-document.scss */
.marks {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 217mm;
}
/* line 80, ../../csymanagement/scss/pdf-document.scss */
.marks .mark {
  position: absolute;
  height: 1pt;
  width: 5mm;
  background: #dadddf;
}
/* line 86, ../../csymanagement/scss/pdf-document.scss */
.marks .mark.mark-left {
  left: 5mm;
}
/* line 90, ../../csymanagement/scss/pdf-document.scss */
.marks .mark.mark-right {
  right: 5mm;
}
/* line 94, ../../csymanagement/scss/pdf-document.scss */
.marks .mark.mark-top {
  top: 60mm;
}
/* line 98, ../../csymanagement/scss/pdf-document.scss */
.marks .mark.mark-bottom {
  bottom: 55mm;
}
/* line 102, ../../csymanagement/scss/pdf-document.scss */
.marks .mark.mark-middle {
  top: 108.5mm;
  left: 2.5mm;
  width: 10mm;
  background: #465762;
}

/* line 111, ../../csymanagement/scss/pdf-document.scss */
#pdf-header,
#pdf-footer {
  position: relative;
  overflow: hidden;
  margin-left: 24mm;
  margin-right: 14mm;
}
/* line 118, ../../csymanagement/scss/pdf-document.scss */
#pdf-header #spacer,
#pdf-footer #spacer {
  height: 10mm;
}
/* line 122, ../../csymanagement/scss/pdf-document.scss */
#pdf-header #inner,
#pdf-footer #inner {
  overflow: hidden;
  padding: 10mm 0;
}

/* line 128, ../../csymanagement/scss/pdf-document.scss */
#pdf-header {
  height: 40mm;
}
/* line 131, ../../csymanagement/scss/pdf-document.scss */
#pdf-header #inner {
  border-bottom: 1pt solid #dadddf;
}
/* line 135, ../../csymanagement/scss/pdf-document.scss */
#pdf-header ul {
  float: left;
  height: 10mm;
}
/* line 140, ../../csymanagement/scss/pdf-document.scss */
#pdf-header ul li strong {
  display: inline-block;
  font-weight: bold;
  width: 1.5em;
  color: #465762;
}
/* line 148, ../../csymanagement/scss/pdf-document.scss */
#pdf-header ul + ul {
  margin-left: 2em;
}
/* line 153, ../../csymanagement/scss/pdf-document.scss */
#pdf-header img {
  display: block;
  height: 10mm;
  width: auto;
  float: right;
}

/* line 161, ../../csymanagement/scss/pdf-document.scss */
#pdf-footer {
  font-size: 8pt;
  height: 40mm;
}
/* line 165, ../../csymanagement/scss/pdf-document.scss */
#pdf-footer #pagination {
  position: absolute;
  top: 2.5mm;
  right: 0;
  color: #879299;
}
/* line 172, ../../csymanagement/scss/pdf-document.scss */
#pdf-footer #inner {
  border-top: 1pt solid #dadddf;
  line-height: 1.5em;
  padding-top: 8mm;
  padding-bottom: 0mm;
}
/* line 179, ../../csymanagement/scss/pdf-document.scss */
#pdf-footer #inner ul.left {
  float: left;
}
/* line 183, ../../csymanagement/scss/pdf-document.scss */
#pdf-footer #inner ul.right {
  float: right;
}
/* line 186, ../../csymanagement/scss/pdf-document.scss */
#pdf-footer #inner ul.right .label {
  display: inline-block;
  width: 3.5em;
}
/* line 193, ../../csymanagement/scss/pdf-document.scss */
#pdf-footer #inner .center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 198, ../../csymanagement/scss/pdf-document.scss */
#pdf-footer #inner .center ul {
  display: inline-block;
  text-align: left;
}
/* line 202, ../../csymanagement/scss/pdf-document.scss */
#pdf-footer #inner .center ul .label {
  display: inline-block;
  width: 4.5em;
}

/* line 211, ../../csymanagement/scss/pdf-document.scss */
#letter-head {
  float: left;
  position: relative;
  margin-top: 5mm;
  margin-right: 20mm;
  width: 85mm;
  height: 40mm;
}
/* line 219, ../../csymanagement/scss/pdf-document.scss */
#letter-head #letter-head-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 226, ../../csymanagement/scss/pdf-document.scss */
#letter-head #sender-address {
  display: inline-block;
  margin-bottom: 5mm;
  padding-bottom: 2.5mm;
  font-size: 8pt;
  color: #879299;
  border-bottom: 1pt solid #465762;
  line-height: 1;
}

/* line 237, ../../csymanagement/scss/pdf-document.scss */
#letter-extra-infos {
  position: relative;
  float: right;
  margin-top: 10mm;
  width: 65mm;
  height: 40mm;
}
/* line 244, ../../csymanagement/scss/pdf-document.scss */
#letter-extra-infos ul {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.25em;
  padding: 5mm 5mm 4mm 5mm;
  background: #f3f5f8;
}
/* line 252, ../../csymanagement/scss/pdf-document.scss */
#letter-extra-infos ul li {
  font-size: 8pt;
}
/* line 255, ../../csymanagement/scss/pdf-document.scss */
#letter-extra-infos ul li strong {
  display: inline-block;
  width: 12em;
}

/* line 263, ../../csymanagement/scss/pdf-document.scss */
#subject-line {
  margin: 15mm 0;
  font-weight: bold;
  font-size: 12pt;
}

/* line 269, ../../csymanagement/scss/pdf-document.scss */
#content-1 {
  margin-bottom: 10mm;
}

/* line 273, ../../csymanagement/scss/pdf-document.scss */
#content-2 {
  margin-top: 10mm;
  font-size: 8pt;
  color: #879299;
}

/* line 280, ../../csymanagement/scss/pdf-document.scss */
.positions-head {
  border-bottom: 2pt solid #dadddf;
  margin-bottom: 5mm;
  padding-bottom: 2.5mm;
}
/* line 285, ../../csymanagement/scss/pdf-document.scss */
.positions-head .col {
  font-weight: bold;
}

/* line 292, ../../csymanagement/scss/pdf-document.scss */
.positions-head .col,
.line-item .col {
  float: left;
  margin-right: 5mm;
  text-align: right;
}
/* line 297, ../../csymanagement/scss/pdf-document.scss */
.positions-head .col.pos,
.line-item .col.pos {
  width: 7mm;
}
/* line 301, ../../csymanagement/scss/pdf-document.scss */
.positions-head .col.item,
.line-item .col.item {
  width: 90mm;
  text-align: left;
}
/* line 306, ../../csymanagement/scss/pdf-document.scss */
.positions-head .col.amount,
.line-item .col.amount {
  width: 16.5mm;
}
/* line 310, ../../csymanagement/scss/pdf-document.scss */
.positions-head .col.price,
.line-item .col.price {
  width: 18mm;
}
/* line 314, ../../csymanagement/scss/pdf-document.scss */
.positions-head .col.sum,
.line-item .col.sum {
  width: 21mm;
  margin-right: 0;
}

/* line 321, ../../csymanagement/scss/pdf-document.scss */
.line-item {
  width: 172mm;
  margin-bottom: 2.5mm;
  padding-bottom: 2.5mm;
}
/* line 327, ../../csymanagement/scss/pdf-document.scss */
.line-item:last-of-type {
  margin-bottom: 5mm;
  padding-bottom: 5mm;
  border-bottom: 2pt solid #dadddf;
}
/* line 333, ../../csymanagement/scss/pdf-document.scss */
.line-item .optional {
  position: relative;
  width: 44mm;
  margin-left: -23mm;
  color: #879299;
  text-align: right;
}
/* line 340, ../../csymanagement/scss/pdf-document.scss */
.line-item .optional small {
  margin-right: 14pt;
}
/* line 344, ../../csymanagement/scss/pdf-document.scss */
.line-item .optional:after {
  content: ' ';
  position: absolute;
  top: 3.2pt;
  right: 0;
  width: 8pt;
  height: 8pt;
  border: 1px solid #dadddf;
}
/* line 356, ../../csymanagement/scss/pdf-document.scss */
.line-item .price s {
  color: #465762;
}
/* line 359, ../../csymanagement/scss/pdf-document.scss */
.line-item .price s span {
  color: #465762;
}
/* line 366, ../../csymanagement/scss/pdf-document.scss */
.line-item .item .item-title {
  display: block;
}
/* line 370, ../../csymanagement/scss/pdf-document.scss */
.line-item .item .discount {
  display: block;
  color: #465762;
}
/* line 376, ../../csymanagement/scss/pdf-document.scss */
.line-item .textonly {
  text-align: left;
  margin-right: 0;
  width: 160.5mm;
}

/* line 383, ../../csymanagement/scss/pdf-document.scss */
#content-3 {
  float: left;
  margin-right: 5mm;
  width: 85mm;
}

/* line 389, ../../csymanagement/scss/pdf-document.scss */
#summary {
  page-break-inside: avoid;
}

/* line 393, ../../csymanagement/scss/pdf-document.scss */
#price-summary {
  float: right;
  page-break-inside: avoid;
}
/* line 399, ../../csymanagement/scss/pdf-document.scss */
#price-summary ul li {
  text-align: right;
}
/* line 402, ../../csymanagement/scss/pdf-document.scss */
#price-summary ul li span {
  display: inline-block;
  width: 26mm;
}
/* line 407, ../../csymanagement/scss/pdf-document.scss */
#price-summary ul li#finalsum {
  font-weight: bold;
  padding: 5mm 0 2.5mm 0;
  border-bottom: 2px solid #465762;
}
/* line 412, ../../csymanagement/scss/pdf-document.scss */
#price-summary ul li#finalsum.no-vat {
  padding-top: 0;
  margin-bottom: 2.5mm;
  text-align: left;
}
/* line 417, ../../csymanagement/scss/pdf-document.scss */
#price-summary ul li#finalsum.no-vat span {
  float: right;
  width: 35mm;
  text-align: right;
}
/* line 425, ../../csymanagement/scss/pdf-document.scss */
#price-summary ul li#no-vat {
  font-size: 8pt;
}

/* line 432, ../../csymanagement/scss/pdf-document.scss */
#signature-field {
  page-break-inside: avoid;
  float: right;
  margin-top: 6.66667mm;
  width: 61mm;
  background: #f3f5f8;
  padding: 2.5mm 3.33333mm;
  position: relative;
}
/* line 441, ../../csymanagement/scss/pdf-document.scss */
#signature-field #signature-field-label {
  position: absolute;
  top: 2.5mm;
  left: 3.33333mm;
}
/* line 447, ../../csymanagement/scss/pdf-document.scss */
#signature-field #signature-field-legend {
  margin-top: 15mm;
  padding-top: 2.5mm;
  border-top: 1px solid #dadddf;
}
/* line 452, ../../csymanagement/scss/pdf-document.scss */
#signature-field #signature-field-legend span {
  display: inline-block;
  font-size: 8pt;
}
/* line 456, ../../csymanagement/scss/pdf-document.scss */
#signature-field #signature-field-legend span:first-of-type {
  margin-right: 10mm;
}

/* line 467, ../../csymanagement/scss/pdf-document.scss */
#content table,
#content-1 table,
#content-2 table,
#content-3 table {
  width: 10cm !important;
}
/* line 472, ../../csymanagement/scss/pdf-document.scss */
#content table tr:last-of-type td,
#content-1 table tr:last-of-type td,
#content-2 table tr:last-of-type td,
#content-3 table tr:last-of-type td {
  padding-bottom: 2.5mm;
  border-bottom: 2px solid #465762;
}
/* line 479, ../../csymanagement/scss/pdf-document.scss */
#content table tr:nth-last-child(2) td,
#content-1 table tr:nth-last-child(2) td,
#content-2 table tr:nth-last-child(2) td,
#content-3 table tr:nth-last-child(2) td {
  padding-bottom: 5mm;
}
/* line 485, ../../csymanagement/scss/pdf-document.scss */
#content table tr td:first-of-type,
#content-1 table tr td:first-of-type,
#content-2 table tr td:first-of-type,
#content-3 table tr td:first-of-type {
  padding-right: 2em;
}
/* line 492, ../../csymanagement/scss/pdf-document.scss */
#content p,
#content-1 p,
#content-2 p,
#content-3 p {
  margin-top: 1em;
}
/* line 495, ../../csymanagement/scss/pdf-document.scss */
#content p:first-of-type,
#content-1 p:first-of-type,
#content-2 p:first-of-type,
#content-3 p:first-of-type {
  margin-top: 0;
}
/* line 499, ../../csymanagement/scss/pdf-document.scss */
#content p + strong, #content p + ul, #content p + ol, #content p + h1, #content p + h2, #content p + h3, #content p + h4, #content p + h5, #content p + h6, #content p + table, #content p + div[class^="table-"],
#content-1 p + strong,
#content-1 p + ul,
#content-1 p + ol,
#content-1 p + h1,
#content-1 p + h2,
#content-1 p + h3,
#content-1 p + h4,
#content-1 p + h5,
#content-1 p + h6,
#content-1 p + table,
#content-1 p + div[class^="table-"],
#content-2 p + strong,
#content-2 p + ul,
#content-2 p + ol,
#content-2 p + h1,
#content-2 p + h2,
#content-2 p + h3,
#content-2 p + h4,
#content-2 p + h5,
#content-2 p + h6,
#content-2 p + table,
#content-2 p + div[class^="table-"],
#content-3 p + strong,
#content-3 p + ul,
#content-3 p + ol,
#content-3 p + h1,
#content-3 p + h2,
#content-3 p + h3,
#content-3 p + h4,
#content-3 p + h5,
#content-3 p + h6,
#content-3 p + table,
#content-3 p + div[class^="table-"] {
  margin-top: 1em;
  display: block;
}
/* line 516, ../../csymanagement/scss/pdf-document.scss */
#content h1 + strong, #content h1 + p, #content h1 + ul, #content h1 + ol, #content h1 + table, #content h1 + div[class^="table-"], #content h2 + strong, #content h2 + p, #content h2 + ul, #content h2 + ol, #content h2 + table, #content h2 + div[class^="table-"], #content h3 + strong, #content h3 + p, #content h3 + ul, #content h3 + ol, #content h3 + table, #content h3 + div[class^="table-"], #content h4 + strong, #content h4 + p, #content h4 + ul, #content h4 + ol, #content h4 + table, #content h4 + div[class^="table-"], #content h5 + strong, #content h5 + p, #content h5 + ul, #content h5 + ol, #content h5 + table, #content h5 + div[class^="table-"], #content h6 + strong, #content h6 + p, #content h6 + ul, #content h6 + ol, #content h6 + table, #content h6 + div[class^="table-"],
#content-1 h1 + strong,
#content-1 h1 + p,
#content-1 h1 + ul,
#content-1 h1 + ol,
#content-1 h1 + table,
#content-1 h1 + div[class^="table-"],
#content-1 h2 + strong,
#content-1 h2 + p,
#content-1 h2 + ul,
#content-1 h2 + ol,
#content-1 h2 + table,
#content-1 h2 + div[class^="table-"],
#content-1 h3 + strong,
#content-1 h3 + p,
#content-1 h3 + ul,
#content-1 h3 + ol,
#content-1 h3 + table,
#content-1 h3 + div[class^="table-"],
#content-1 h4 + strong,
#content-1 h4 + p,
#content-1 h4 + ul,
#content-1 h4 + ol,
#content-1 h4 + table,
#content-1 h4 + div[class^="table-"],
#content-1 h5 + strong,
#content-1 h5 + p,
#content-1 h5 + ul,
#content-1 h5 + ol,
#content-1 h5 + table,
#content-1 h5 + div[class^="table-"],
#content-1 h6 + strong,
#content-1 h6 + p,
#content-1 h6 + ul,
#content-1 h6 + ol,
#content-1 h6 + table,
#content-1 h6 + div[class^="table-"],
#content-2 h1 + strong,
#content-2 h1 + p,
#content-2 h1 + ul,
#content-2 h1 + ol,
#content-2 h1 + table,
#content-2 h1 + div[class^="table-"],
#content-2 h2 + strong,
#content-2 h2 + p,
#content-2 h2 + ul,
#content-2 h2 + ol,
#content-2 h2 + table,
#content-2 h2 + div[class^="table-"],
#content-2 h3 + strong,
#content-2 h3 + p,
#content-2 h3 + ul,
#content-2 h3 + ol,
#content-2 h3 + table,
#content-2 h3 + div[class^="table-"],
#content-2 h4 + strong,
#content-2 h4 + p,
#content-2 h4 + ul,
#content-2 h4 + ol,
#content-2 h4 + table,
#content-2 h4 + div[class^="table-"],
#content-2 h5 + strong,
#content-2 h5 + p,
#content-2 h5 + ul,
#content-2 h5 + ol,
#content-2 h5 + table,
#content-2 h5 + div[class^="table-"],
#content-2 h6 + strong,
#content-2 h6 + p,
#content-2 h6 + ul,
#content-2 h6 + ol,
#content-2 h6 + table,
#content-2 h6 + div[class^="table-"],
#content-3 h1 + strong,
#content-3 h1 + p,
#content-3 h1 + ul,
#content-3 h1 + ol,
#content-3 h1 + table,
#content-3 h1 + div[class^="table-"],
#content-3 h2 + strong,
#content-3 h2 + p,
#content-3 h2 + ul,
#content-3 h2 + ol,
#content-3 h2 + table,
#content-3 h2 + div[class^="table-"],
#content-3 h3 + strong,
#content-3 h3 + p,
#content-3 h3 + ul,
#content-3 h3 + ol,
#content-3 h3 + table,
#content-3 h3 + div[class^="table-"],
#content-3 h4 + strong,
#content-3 h4 + p,
#content-3 h4 + ul,
#content-3 h4 + ol,
#content-3 h4 + table,
#content-3 h4 + div[class^="table-"],
#content-3 h5 + strong,
#content-3 h5 + p,
#content-3 h5 + ul,
#content-3 h5 + ol,
#content-3 h5 + table,
#content-3 h5 + div[class^="table-"],
#content-3 h6 + strong,
#content-3 h6 + p,
#content-3 h6 + ul,
#content-3 h6 + ol,
#content-3 h6 + table,
#content-3 h6 + div[class^="table-"] {
  margin-top: 1em;
  display: block;
}
/* line 527, ../../csymanagement/scss/pdf-document.scss */
#content ul,
#content ol,
#content-1 ul,
#content-1 ol,
#content-2 ul,
#content-2 ol,
#content-3 ul,
#content-3 ol {
  margin: 0 0 1em 1.25em;
}
/* line 531, ../../csymanagement/scss/pdf-document.scss */
#content ul li,
#content ol li,
#content-1 ul li,
#content-1 ol li,
#content-2 ul li,
#content-2 ol li,
#content-3 ul li,
#content-3 ol li {
  list-style-type: disc;
}
/* line 537, ../../csymanagement/scss/pdf-document.scss */
#content ol li,
#content-1 ol li,
#content-2 ol li,
#content-3 ol li {
  list-style-type: decimal;
}
/* line 542, ../../csymanagement/scss/pdf-document.scss */
#content ul, #content ol,
#content-1 ul,
#content-1 ol,
#content-2 ul,
#content-2 ol,
#content-3 ul,
#content-3 ol {
  list-style: outside;
}
/* line 545, ../../csymanagement/scss/pdf-document.scss */
#content ul + strong, #content ul + p, #content ul + h1, #content ul + h2, #content ul + h3, #content ul + h4, #content ul + h5, #content ul + h6, #content ul + table, #content ul + div[class^="table-"], #content ol + strong, #content ol + p, #content ol + h1, #content ol + h2, #content ol + h3, #content ol + h4, #content ol + h5, #content ol + h6, #content ol + table, #content ol + div[class^="table-"],
#content-1 ul + strong,
#content-1 ul + p,
#content-1 ul + h1,
#content-1 ul + h2,
#content-1 ul + h3,
#content-1 ul + h4,
#content-1 ul + h5,
#content-1 ul + h6,
#content-1 ul + table,
#content-1 ul + div[class^="table-"],
#content-1 ol + strong,
#content-1 ol + p,
#content-1 ol + h1,
#content-1 ol + h2,
#content-1 ol + h3,
#content-1 ol + h4,
#content-1 ol + h5,
#content-1 ol + h6,
#content-1 ol + table,
#content-1 ol + div[class^="table-"],
#content-2 ul + strong,
#content-2 ul + p,
#content-2 ul + h1,
#content-2 ul + h2,
#content-2 ul + h3,
#content-2 ul + h4,
#content-2 ul + h5,
#content-2 ul + h6,
#content-2 ul + table,
#content-2 ul + div[class^="table-"],
#content-2 ol + strong,
#content-2 ol + p,
#content-2 ol + h1,
#content-2 ol + h2,
#content-2 ol + h3,
#content-2 ol + h4,
#content-2 ol + h5,
#content-2 ol + h6,
#content-2 ol + table,
#content-2 ol + div[class^="table-"],
#content-3 ul + strong,
#content-3 ul + p,
#content-3 ul + h1,
#content-3 ul + h2,
#content-3 ul + h3,
#content-3 ul + h4,
#content-3 ul + h5,
#content-3 ul + h6,
#content-3 ul + table,
#content-3 ul + div[class^="table-"],
#content-3 ol + strong,
#content-3 ol + p,
#content-3 ol + h1,
#content-3 ol + h2,
#content-3 ol + h3,
#content-3 ol + h4,
#content-3 ol + h5,
#content-3 ol + h6,
#content-3 ol + table,
#content-3 ol + div[class^="table-"] {
  margin-top: 1em;
  display: block;
}

/* line 15, ../scss/pdf.scss */
body {
  color: #465762;
  font-family: "Arial", sans-serif;
}

/* line 21, ../scss/pdf.scss */
#pdf-footer #inner {
  border-top: 1pt solid #D8D8DC;
}
/* line 25, ../scss/pdf.scss */
#pdf-footer #pagination {
  color: #b2b7bb;
}

/* line 31, ../scss/pdf.scss */
#letter-head #sender-address {
  color: #b2b7bb;
  border-bottom: 1pt solid #3BA1C7;
}

/* line 38, ../scss/pdf.scss */
#letter-extra-infos ul {
  background: #F3F3F4;
}

/* line 43, ../scss/pdf.scss */
#content-2 {
  color: #b2b7bb;
}

/* line 48, ../scss/pdf.scss */
.line-item:last-of-type {
  border-bottom: 2pt solid #D8D8DC;
}
/* line 53, ../scss/pdf.scss */
.line-item .price s {
  color: #3BA1C7;
}
/* line 56, ../scss/pdf.scss */
.line-item .price s span {
  color: #465762;
}
/* line 63, ../scss/pdf.scss */
.line-item .item .discount {
  color: #3BA1C7;
}

/* line 70, ../scss/pdf.scss */
.marks .mark {
  background: #D8D8DC;
}
/* line 73, ../scss/pdf.scss */
.marks .mark.mark-middle {
  background: #3BA1C7;
}

/* line 80, ../scss/pdf.scss */
#pdf-header #inner {
  border-bottom: 1pt solid #D8D8DC;
}
/* line 86, ../scss/pdf.scss */
#pdf-header ul li strong {
  color: #3BA1C7;
}

/* line 96, ../scss/pdf.scss */
#price-summary ul li#finalsum {
  border-bottom: 2px solid #3BA1C7;
}

/* line 110, ../scss/pdf.scss */
#content table tr:last-of-type td,
#content-1 table tr:last-of-type td,
#content-2 table tr:last-of-type td,
#content-3 table tr:last-of-type td {
  border-bottom: 2px solid #3BA1C7;
}

/* line 118, ../scss/pdf.scss */
.positions-head {
  border-bottom: 2pt solid #D8D8DC;
}

/* line 122, ../scss/pdf.scss */
#signature-field {
  background: #F3F3F4;
}
/* line 125, ../scss/pdf.scss */
#signature-field #signature-field-legend {
  border-top: 1px solid #D8D8DC;
}
